In [1]:
import pandas as pd
import numpy as np
import random
import math
from datetime import datetime, timedelta
from os import listdir
from os.path import isfile, join

In [2]:
df_generated_schedule = pd.read_csv('./output/final_schedule.csv')
total_number_classes = len(df_generated_schedule)

In [3]:
number_exceeded_classes = len(df_generated_schedule[df_generated_schedule['Lotação'] < df_generated_schedule['Lotação_Default']])

In [4]:
print('Number of classes that capacity are lower than default: ', str(number_exceeded_classes))
print('Percentage: ', str((number_exceeded_classes*100)/total_number_classes))

Number of classes that capacity are lower than default:  6992
Percentage:  29.185624243436155

df = df_generated_schedule.value_counts(subset=['Sala da aula', 'Início'], sort=True)
df_generated_schedule['Início'] =  pd.to_datetime(df_generated_schedule['Início'], format='%d/%m/%Y %H:%M:%S')
filtered_array = df.values[df.values > 1]
print('Number of classes at same room: ', str(len(filtered_array)))

In [6]:
df_generated_schedule['Lotação_Diff'] = df_generated_schedule["Lotação"] - df_generated_schedule["Inscritos no turno (no 1º semestre é baseado em estimativas)"]
print('Number classes exceeded rooms capacity: ', len(df_generated_schedule[df_generated_schedule['Lotação_Diff'] < -5]))

Number classes exceeded rooms capacity:  290

In [7]:
df_generated_schedule.columns

Index(['Curso', 'Unidade de execução', 'Turno', 'Turma',
       'Inscritos no turno (no 1º semestre é baseado em estimativas)',
       'Turnos com capacidade superior à capacidade das características das salas',
       'Turno com inscrições superiores à capacidade das salas',
       'Dia da Semana', 'Início', 'Fim', 'Dia',
       'Características da sala pedida para a aula', 'Sala da aula', 'Lotação',
       'Características reais da sala', 'Lotação_Default', 'Lotação_Diff'],
      dtype='object')

In [8]:
interesting_columns = ['Curso', 'Unidade de execução', 'Inscritos no turno (no 1º semestre é baseado em estimativas)', 'Início', 'Fim', 'Dia', 'Sala da aula', 'Lotação', 'Lotação_Default', 'Lotação_Diff']

In [9]:
df_generated_schedule[(df_generated_schedule['Lotação_Diff'] < -5)][interesting_columns].sort_values(['Unidade de execução', 'Início'])

,Curso,Unidade de execução,Inscritos no turno (no 1º semestre é baseado em estimativas),Início,Fim,Dia,Sala da aula,Lotação,Lotação_Default,Lotação_Diff
19640,LSS-PL,Abordagens à Psicopatologia,47.0,2015-10-20 16:30:00,20/10/2015 18:00:00,20/10/2015,Espaço Exposições,41,60.0,-6.0
19628,LSS-PL,Abordagens à Psicopatologia,47.0,2015-10-20 18:00:00,20/10/2015 19:30:00,20/10/2015,Espaço Exposições,41,60.0,-6.0
4988,LETI,Análise Matemática I,71.0,2015-09-30 14:30:00,30/09/2015 16:00:00,30/09/2015,AA3.25,38,72.0,-33.0
4976,LETI,Análise Matemática I,71.0,2015-10-01 14:30:00,01/10/2015 16:00:00,01/10/2015,2E05,50,70.0,-21.0
4987,LETI,Análise Matemática I,71.0,2015-10-07 14:30:00,07/10/2015 16:00:00,07/10/2015,C4.02,50,72.0,-21.0
...,...,...,...,...,...,...,...,...,...,...
12626,LETI,"Álgebra Linear, Geometria Analítica e Análise ...",63.0,2015-11-05 16:00:00,05/11/2015 17:30:00,05/11/2015,0S01,41,70.0,-22.0
12612,LETI,"Álgebra Linear, Geometria Analítica e Análise ...",63.0,2015-11-23 16:00:00,23/11/2015 17:30:00,23/11/2015,1E03,52,56.0,-11.0
12610,LETI,"Álgebra Linear, Geometria Analítica e Análise ...",63.0,2015-12-07 16:00:00,07/12/2015 17:30:00,07/12/2015,B2.02,52,56.0,-11.0
12622,LETI,"Álgebra Linear, Geometria Analítica e Análise ...",63.0,2015-12-10 16:00:00,10/12/2015 17:30:00,10/12/2015,2E02,50,70.0,-13.0
12609,LETI,"Álgebra Linear, Geometria Analítica e Análise ...",63.0,2015-12-14 16:00:00,14/12/2015 17:30:00,14/12/2015,2E06,50,60.0,-13.0