In [1]:
import pandas as pd
import numpy as np
import random
import math
from datetime import datetime, timedelta
from os import listdir
from os.path import isfile, join

In [2]:
df_generated_schedule = pd.read_csv('./output/final_schedule.csv')
total_number_classes = len(df_generated_schedule)

In [3]:
number_exceeded_classes = len(df_generated_schedule[df_generated_schedule['Lotação'] < df_generated_schedule['Lotação_Default']])

In [4]:
print('Number of classes that capacity are lower than default: ', str(number_exceeded_classes))
print('Percentage: ', str((number_exceeded_classes*100)/total_number_classes))

Number of classes that capacity are lower than default:  7852
Percentage:  32.775389239053304

In [5]:
df = df_generated_schedule.value_counts(subset=['Sala da aula', 'Início'], sort=True)
df_generated_schedule['Início'] =  pd.to_datetime(df_generated_schedule['Início'], format='%d/%m/%Y %H:%M:%S')
filtered_array = df.values[df.values > 1]
print('Number of classes at same room: ', str(len(filtered_array)))

Number of classes at same room:  1

In [6]:
df_generated_schedule['Lotação_Diff'] = df_generated_schedule["Lotação"] - df_generated_schedule["Inscritos no turno (no 1º semestre é baseado em estimativas)"]
print('Number classes exceeded rooms capacity: ', len(df_generated_schedule[df_generated_schedule['Lotação_Diff'] < -5]))

Number classes exceeded rooms capacity:  221

In [7]:
df_generated_schedule.columns

Index(['Curso', 'Unidade de execução', 'Turno', 'Turma',
       'Inscritos no turno (no 1º semestre é baseado em estimativas)',
       'Turnos com capacidade superior à capacidade das características das salas',
       'Turno com inscrições superiores à capacidade das salas',
       'Dia da Semana', 'Início', 'Fim', 'Dia',
       'Características da sala pedida para a aula', 'Sala da aula', 'Lotação',
       'Características reais da sala', 'Lotação_Default', 'Lotação_Diff'],
      dtype='object')

In [8]:
interesting_columns = ['Curso', 'Unidade de execução', 'Inscritos no turno (no 1º semestre é baseado em estimativas)', 'Início', 'Fim', 'Dia', 'Sala da aula', 'Lotação', 'Lotação_Default', 'Lotação_Diff']

In [10]:
df_generated_schedule[(df_generated_schedule['Lotação_Diff'] < -5)][interesting_columns].sort_values(['Lotação_Diff'])

,Curso,Unidade de execução,Inscritos no turno (no 1º semestre é baseado em estimativas),Início,Fim,Dia,Sala da aula,Lotação,Lotação_Default,Lotação_Diff
22825,LE,Contabilidade Financeira I,102.0,2015-09-21 09:30:00,21/09/2015 11:00:00,21/09/2015,C5.05,34,129.0,-68.0
4938,LG,Modelos Organizacionais,88.0,2015-10-06 16:00:00,06/10/2015 17:30:00,06/10/2015,D1.12,27,129.0,-61.0
4038,"LETI-PL, LEI-PL, LIGE-PL",Fundamentos de Bases de Dados,71.0,2015-10-21 19:30:00,21/10/2015 21:00:00,21/10/2015,B1.01,12,50.0,-59.0
14800,LG,Macroeconomia,83.0,2015-11-16 14:30:00,16/11/2015 16:00:00,16/11/2015,D1.12,27,129.0,-56.0
21091,LP,Competências Académicas I,103.0,2015-12-03 11:00:00,03/12/2015 12:30:00,03/12/2015,2E05,50,129.0,-53.0
...,...,...,...,...,...,...,...,...,...,...
20705,LE,Estatística,56.0,2015-11-05 16:00:00,05/11/2015 17:30:00,05/11/2015,C4.02,50,84.0,-6.0
20707,LE,Estatística,56.0,2015-10-22 16:00:00,22/10/2015 17:30:00,22/10/2015,AA3.23,50,84.0,-6.0
17411,MIA,Arquitectura I,33.0,2015-11-17 11:00:00,17/11/2015 12:30:00,17/11/2015,D1.02,27,60.0,-6.0
10293,0226,Programação em Ferramentas Office Avançadas,22.0,2015-10-23 16:00:00,23/10/2015 18:00:00,23/10/2015,C7.10,16,27.0,-6.0
23763,"LG, LGM",Matemática,34.0,2015-11-13 14:30:00,13/11/2015 16:00:00,13/11/2015,D1.06,28,50.0,-6.0