In [1]:
import pandas as pd
import numpy as np
import random
import math
from datetime import datetime, timedelta
from os import listdir
from os.path import isfile, join

In [2]:
df_generated_schedule = pd.read_csv('./output/final_schedule.csv')
total_number_classes = len(df_generated_schedule)

In [3]:
number_exceeded_classes = len(df_generated_schedule[df_generated_schedule['Lotação'] < df_generated_schedule['Lotação_Default']])

In [4]:
print('Number of classes that capacity are lower than default: ', str(number_exceeded_classes))
print('Percentage: ', str((number_exceeded_classes*100)/total_number_classes))

Number of classes that capacity are lower than default:  7915
Percentage:  33.03836039570898

In [5]:
df = df_generated_schedule.value_counts(subset=['Sala da aula', 'Início'], sort=True)
df_generated_schedule['Início'] =  pd.to_datetime(df_generated_schedule['Início'], format='%d/%m/%Y %H:%M:%S')
filtered_array = df.values[df.values > 1]
print('Number of classes at same room: ', str(len(filtered_array)))

Number of classes at same room:  0

In [6]:
df_generated_schedule['Lotação_Diff'] = df_generated_schedule["Lotação"] - df_generated_schedule["Inscritos no turno (no 1º semestre é baseado em estimativas)"]
print('Number classes exceeded rooms capacity: ', len(df_generated_schedule[df_generated_schedule['Lotação_Diff'] < -5]))

Number classes exceeded rooms capacity:  230

In [7]:
df_generated_schedule.columns

Index(['Curso', 'Unidade de execução', 'Turno', 'Turma',
       'Inscritos no turno (no 1º semestre é baseado em estimativas)',
       'Turnos com capacidade superior à capacidade das características das salas',
       'Turno com inscrições superiores à capacidade das salas',
       'Dia da Semana', 'Início', 'Fim', 'Dia',
       'Características da sala pedida para a aula', 'Sala da aula', 'Lotação',
       'Características reais da sala', 'Lotação_Default', 'Lotação_Diff'],
      dtype='object')

In [8]:
interesting_columns = ['Curso', 'Unidade de execução', 'Inscritos no turno (no 1º semestre é baseado em estimativas)', 'Início', 'Fim', 'Dia', 'Sala da aula', 'Lotação', 'Lotação_Default', 'Lotação_Diff']

In [9]:
df_generated_schedule[(df_generated_schedule['Lotação_Diff'] < -5)][interesting_columns].sort_values(['Unidade de execução', 'Início'])

,Curso,Unidade de execução,Inscritos no turno (no 1º semestre é baseado em estimativas),Início,Fim,Dia,Sala da aula,Lotação,Lotação_Default,Lotação_Diff
4989,LETI,Análise Matemática I,71.0,2015-09-23 14:30:00,23/09/2015 16:00:00,23/09/2015,B3.01,60,72.0,-11.0
4988,LETI,Análise Matemática I,71.0,2015-09-30 14:30:00,30/09/2015 16:00:00,30/09/2015,C5.05,34,72.0,-37.0
4976,LETI,Análise Matemática I,71.0,2015-10-01 14:30:00,01/10/2015 16:00:00,01/10/2015,B2.01,50,70.0,-21.0
4987,LETI,Análise Matemática I,71.0,2015-10-07 14:30:00,07/10/2015 16:00:00,07/10/2015,0S01,41,72.0,-30.0
4975,LETI,Análise Matemática I,71.0,2015-10-08 14:30:00,08/10/2015 16:00:00,08/10/2015,1E06,50,70.0,-21.0
...,...,...,...,...,...,...,...,...,...,...
12611,LETI,"Álgebra Linear, Geometria Analítica e Análise ...",63.0,2015-11-30 16:00:00,30/11/2015 17:30:00,30/11/2015,2E04,50,56.0,-13.0
11653,LEI,"Álgebra Linear, Geometria Analítica e Análise ...",58.0,2015-12-02 16:00:00,02/12/2015 17:30:00,02/12/2015,B2.02,52,60.0,-6.0
12622,LETI,"Álgebra Linear, Geometria Analítica e Análise ...",63.0,2015-12-10 16:00:00,10/12/2015 17:30:00,10/12/2015,C5.02,50,70.0,-13.0
12609,LETI,"Álgebra Linear, Geometria Analítica e Análise ...",63.0,2015-12-14 16:00:00,14/12/2015 17:30:00,14/12/2015,2E10,48,60.0,-15.0
12621,LETI,"Álgebra Linear, Geometria Analítica e Análise ...",63.0,2015-12-17 16:00:00,17/12/2015 17:30:00,17/12/2015,AA3.28,48,60.0,-15.0